body {
  background: #9b9898;
  align-items: center;
  text-align: center;
  margin: 0% 0%;
  font-size: 1.5rem;
}

h1 {
  color: rgb(221, 203, 176);
}

hr {
  margin: 0;
}

div.poison,
div.life-calc {
  border: 1px rgb(170, 170, 170) solid;
}

#about {
  text-align: left;
}

.about-font {
  font-size: 1.2rem;
}

.btn:active {
  transform: scale(0.95);
  /* to show a "pressed" effect */
}

.btn {
  box-shadow: none !important  ;
  /* getting rid of those bootstrap button shadows */
}

/* TITLE AND BUTTONS */
.main {
  background-color: rgb(121, 107, 94);
  border: 1px solid black;
  max-width: 800px;
}

.form-floating label {
  font-size: 1.1rem;
}

.top-button-row {
  margin-bottom: 10px;
}

.top-button {
  margin-right: 5px;
}

/* PLAYER NAME SECTION  */
.player {
  background-color: #504c4c;
  border: 1px rgb(170, 170, 170) solid;
  border-left: 0;
  color: #fff;
}

.p2-info {
  border-right: 0;
}

/* LIFE TOTAL SECTION*/
.life,
.life-history {
  background-color: #fff;
  height: 260px;
  border: none;
  text-align: center;
}

.life-history {
  text-align: left;
}

div.life {
  border-right: 1px rgb(170, 170, 170) solid;
}

.offset {
  padding-right: 80px;
  background-color: #fff;
}

.life-history-scroll {
  position: absolute;
  overflow-y: scroll;
  max-height: 220px;
  font-size: 1.1rem;
  margin-left: 0;
  padding-right: 15px;
}

.life-count {
  margin: 25px 0 0 0;
  font-size: 5.5rem;
}

/* POISON SECTION */
.poison {
  background-color: rgb(217, 223, 221);
}

.psn-down:hover,
.psn-up:hover {
  color: rgb(31, 170, 31);
}

/* LIFE CALCULATOR SECTION  */
.life-calc {
  background-color: rgb(238, 229, 228);
}

.heart {
  font-size: 2.5rem;
  color: rgb(206, 82, 82);
}

.heart-log-icon {
  font-size: 1.7rem;
  color: rgb(206, 82, 82);
  padding: 0 5%;
}

.poison-icon {
  font-size: 1.7rem;
  padding: 0 5%;
}

.heart:hover {
  color: rgb(148, 88, 88);
}

/* TIMER AND WINNER SECTION  */
.game-time {
  font-size: 3rem;
}

.bottom {
  background-color: #504c4c;
  color: #fff;
  height: 100%;
}

.bottom button {
  width: 150px;
  height: 40px;
  font-size: 1.1rem;
}

.results {
  font-size: 2rem;
  height: 6.5rem;
}

.save-button {
  padding-top: 0;
  margin-bottom: 20px;
}

.match-history {
  text-align: center;
}

@media (max-height: 800px), (max-width: 450px) {
  body {
    font-size: 0.95rem;
  }
  h1 {
    font-size: 1.5rem;
  }

  .player-title {
    padding-top: 5px;
  }
  .life,
  .life-history {
    background-color: #fff;
    height: 160px;
    border: none;
    width: 40px;
  }

  .life-history-scroll {
    background-color: #fff;
    max-height: 130px;
    font-size: 0.8rem;
    text-align: left;
    width: 60px;
  }
  .life-count {
    font-size: 2.2rem;
    height: 1rem;
  }
  .offset {
    padding-right: 40px;
    background-color: #fff;
  }
  .heart {
    font-size: 1.5rem;
    padding: 5px;
  }
  .game-time {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }

  .top-button-row button {
    width: 70px;
    height: 40px;
    font-size: 0.75rem;
    padding: 0;
  }

  .bottom button.btn {
    width: 30%;
    height: 40px;
    font-size: 1rem;
  }

  .cannot-checks {
    font-size: 0.9rem;
    margin: 2px;
  }
  .results {
    font-size: 1.5rem;
    height: 5.5rem;
  }

  @media only screen and (max-height: 670px) {
    h1 {
      font-size: 1rem;
    }
    .top-button-row button {
      width: 20%;
      height: 65%;
      font-size: 0.7rem;
      padding: 0;
    }
    .game-time {
      font-size: 1.2rem;
      margin: 0;
    }

    .bottom button.btn {
      height: 28px;
      width: 25%;
      font-size: 0.8rem;
      margin: 0;
    }
    div.results {
      font-size: 1rem;
    }
    .about-font {
      font-size: 1rem;
    }
  }
}
